body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(27, 27, 27);
  color: white;
  margin: 0;
  padding: 0;
  padding-top: 2rem;
  padding: 15px;
  background-image: url(../images/bgImages/allFormBgDark.jpg);
  background-size: cover;
  background-attachment: fixed;
}
nav {
  margin-bottom: 2rem;
}
nav a {
  all: unset;
  cursor: pointer;
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  transition: all 0.3s ease-in-out;
}
nav a:hover {
  background-color: rgb(4, 63, 157);
  color: white;
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.767);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
}
.modal-bg {
  background-color: black;
  width: 100vw;
  height: 100vh;
}
.modal {
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
}
.modal div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.modal button {
  all: unset;
  cursor: pointer;
  background-color: rgb(46, 46, 46);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
}
.modal button:hover {
  background-color: rgb(4, 63, 157);
  color: white;
}

.stop-scrolling {
  overflow: hidden;
}

.visually-hidden {
  display: none !important;
}
.visually-absolute {
  height: 100vh;
  width: 100vw;
}

.all-forms-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  backdrop-filter: 5px;
}
.all-forms-container .form-data {
  border: 2px solid white;
  padding: 1rem;
  border-radius: 1rem;
}
.all-forms-container .form-button-conntainer button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-color: white;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  transition: all 0.3s ease-in-out;
}
.all-forms-container .form-button-conntainer button:hover {
  background-color: rgb(36, 36, 36);
  color: white;
  box-shadow: 0rem 0.3rem 1rem 0.5rem rgba(0, 0, 0, 0.251);
}

.my-form,
h1 {
  background: rgba(0, 0, 0, 0.479);
  backdrop-filter: blur(5px);
}
.my-form {
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid white;
  font-size: 1.2rem;
}
.my-form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.my-form input {
  all: unset;
  border: 2px solid white;
  border-style: dotted;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}
.my-form select {
  background-color: rgb(27, 27, 27);
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 1rem;
}
option:checked {
  background-color: rgb(179, 239, 179);
  color: rgb(0, 0, 0);
}
option:hover {
  background-color: rgb(27, 27, 27);
  color: white;
}
form button {
  all: unset;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: max-content;
  padding: 0.2rem 1rem;
  background-color: white;
  color: black;
  border-radius: 0.5rem;
  transition: all 0.4s ease;
}
form button:hover {
  cursor: pointer;
  background-color: rgb(1, 101, 21);
  color: white;
}
.form-buttons-container {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}
.form-buttons-container a {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease-in-out;
}
.form-buttons-container a:hover {
  color: white;
  background-color: rgb(4, 63, 157);
}
.form-buttons-container button,
a {
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-color: white;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 540px) {
  form {
    max-width: 35rem;
    margin: auto;
  }
}
