@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url(./allForms.css);

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(27, 27, 27);
  color: white;
  margin: 0;
  padding: 0;
  padding-top: 2rem;
  padding: 15px;
}

h1 {
  text-align: center;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 1rem;
}

nav ul {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: all 0.4s ease;
}
nav a:hover {
  background-color: rgb(3, 3, 121);
}

.my-form {
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid white;
  font-size: 1.2rem;
}
.my-form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.my-form label {
}
.my-form input {
  all: unset;
  border: 2px solid white;
  border-style: dotted;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}
.my-form select {
  background-color: rgb(27, 27, 27);
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 1rem;
}
option:checked {
  background-color: rgb(179, 239, 179);
  color: rgb(0, 0, 0);
}
option:hover {
  background-color: rgb(27, 27, 27);
  color: white;
}
button {
  all: unset;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: max-content;
  padding: 0.2rem 1rem;
  background-color: white;
  color: black;
  border-radius: 0.5rem;
  transition: all 0.4s ease;
}
button:hover {
  cursor: pointer;
  background-color: rgb(1, 101, 21);
  color: white;
}

.form-contol-buttons {
  display: flex;
  flex-direction: row !important;
}

@media screen and (min-width: 540px) {
  form,
  h1 {
    max-width: 35rem;
    margin: auto;
  }
  h1 {
    margin-bottom: 2rem;
  }
}
